<a href="https://colab.research.google.com/github/Lamiaka/GNN_amld2022/blob/main/Data_Analysis_Exercise_%7C_GNN_Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# README

This is an example colab for Graph Neural Networks for Strucutred Data Workshop @ AMLD by volodya@google.com

Data Analysis exercise

Link to this colab: https://bit.ly/gnn-str-da

In [ ]:
!wget 'https://drive.google.com/uc?id=1m3ACccA3GLg5GFg0D9khUNnt_c10gBAK&export=download' -O data.prq

--2022-03-23 19:07:53--  https://drive.google.com/uc?id=1m3ACccA3GLg5GFg0D9khUNnt_c10gBAK&export=download
Resolving drive.google.com (drive.google.com)... 173.194.76.138, 173.194.76.102, 173.194.76.113, ...
Connecting to drive.google.com (drive.google.com)|173.194.76.138|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-08-5c-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/hioavodkc77o8kbhmjf6o7scmoffgcaq/1648062450000/01333786639642341364/*/1m3ACccA3GLg5GFg0D9khUNnt_c10gBAK?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-03-23 19:07:54--  https://doc-08-5c-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/hioavodkc77o8kbhmjf6o7scmoffgcaq/1648062450000/01333786639642341364/*/1m3ACccA3GLg5GFg0D9khUNnt_c10gBAK?e=download
Resolving doc-08-5c-docs.googleusercontent.com (doc-08-5c-docs.googleusercontent.com)... 173.194.76.132, 2a00:1450:400c:c00::84
Connecting to doc-08-5c-docs.googleusercontent.com (doc-08-5c-docs.googleusercontent.com)|173.194.76.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15147853 (14M) [application/octet-stream]
Saving to: ‘data.prq’

data.prq            100%[===================>]  14.45M  --.-KB/s    in 0.07s

2022-03-23 19:07:55 (222 MB/s) - ‘data.prq’ saved [15147853/15147853]

In [ ]:
import pandas as pd
df = pd.read_parquet('data.prq')

## Explore the dataset

In [ ]:
df.head(10)

,ticker,Date,LABEL,High,Low,Close,Open,High_1,Low_1,Close_1,Open_1
147348,DIS,1991-04-01,1.025953,7.218523,7.112256,7.127438,7.218523,7.279250,7.226117,7.226117,7.241298
23857,NFLX,2011-08-24,1.045937,31.428572,29.928572,30.861429,31.291430,31.392857,29.155714,31.362858,29.571428
76492,WMT,2015-03-09,0.987933,71.751297,71.062544,71.355263,71.105587,71.544652,70.924770,71.105568,71.294977
100623,MSFT,2006-12-05,0.996064,21.573974,21.302465,21.375845,21.544622,21.662038,21.405204,21.522614,21.449232
99527,MSFT,2002-07-31,0.942984,15.208497,14.688873,15.202160,15.084928,15.471478,14.996212,15.240181,15.065917
6641,SONY,1999-06-08,1.057229,44.786081,44.487308,44.726326,44.726326,44.457423,44.128773,44.308037,44.188528
138733,NVDA,2016-07-21,1.030380,13.350371,13.047793,13.092072,13.308551,13.409413,13.156034,13.338074,13.210154
150940,DIS,2005-06-28,0.974879,21.150602,20.866429,20.996336,20.915144,21.231795,20.679688,20.809595,21.142483
149439,DIS,1999-07-09,1.015855,21.337273,20.906700,21.145908,21.289431,21.480797,21.193748,21.289431,21.480797
16626,UL,2002-02-06,1.012819,9.340154,9.246554,9.255063,9.280591,9.416739,9.252230,9.252230,9.416739

In [ ]:
# TODO: Analyse the data